body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #002855;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo {
    width: 150px; 
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

header .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

header .btn:hover {
    background-color: #0056b3;
}

main {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.rutina {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center; 
}

.grupo-muscular {
    background: #f8f9fa;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 100%;
    max-width: 600px; 
}

.grupo-muscular h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #002855;
}

.grupo-muscular p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.video-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 10px;
}

.grupo-muscular video {
    width: 100%;
    max-width: 500px; 
    height: auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #002855;
    color: white;
    margin-top: 20px;
}
